body {
  color: #fff;
}

.card {
  border-radius: 10px;
  margin: 30px auto;
}

.card-body {
  background-image: linear-gradient(
    to top,
    #bdc2e8 0%,
    #bdc2e8 1%,
    #e6dee9 100%
  );
  border-radius: 10px;
}

.city,
.date-time,
.temperature,
.weekday {
  font-family: "Lato", sans-serif;
  text-align: center;
}

.city {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
}
.date-time {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.units {
  font-size: 12px;
  position: relative;
  line-height: 1;
  top: -23px;
}

ul {
  margin-bottom: 30px;
  padding: 0;
}

li {
  height: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.weather_specifics {
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.other-weather {
  padding: 10px;
}

.other-weather li {
  font-size: 14px;
}

.temperature {
  font-size: 42px;
  margin-bottom: 30px;
}

span .fa-cloud-sun,
.fa-sun,
.fa-bolt,
.fa-cloud {
  color: #fff;
  font-size: 40px;
}

.week_weather {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}

.weekday {
  margin-top: 20px;
}

.open-source-link {
  color: black;
  font-size: 11px;
  text-align: center;
}
